version: '3'
services:
    app:
        build: .
        ports:
            - '80:80'
        environment:
            - NODE_ENV=production
            - PORT=80
        command: ['node', 'server.js']
