services:
    app:
        build:
            context: .
            args:
                NODE_ENV: production
        env_file: .env
        ports:
            - '80:3001'
        volumes:
            - /usr/src/app/node_modules
            - .:/usr/src/app
        environment:
            - NODE_ENV=production
        command: ['npm', 'start']
