services:
    app:
        build:
            context: .
            args:
                NODE_ENV: development
        env_file: .env
        ports:
            - '3001:3001'
        volumes:
            - .:/usr/src/app
        environment:
            - NODE_ENV=development
        command: ['npm', 'run', 'dev']
