services:
    app:
        build: .
        ports:
            - '80:3001' # Map port 80 on the host to port 3001 in the container
        environment:
            - NODE_ENV=production # Directly set environment variables here
        command: ['node', 'server.js']
