services:
    app:
        build: .
        env_file: .env
        ports:
            - '3001:3001'
        volumes:
            - .:/usr/src/app
            - /usr/src/app/node_modules
        environment:
            - NODE_ENV=development
        command: ['npm', 'run', 'dev']
