version: '3.8'

services:
    app:
        build:
            context: .
            args:
                - NODE_ENV=production
        environment:
            NODE_ENV: production
        ports:
            - '3001:3001'
        volumes:
            - .:/usr/src/app
        command: ['npm', 'start']
